*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
.header{
    padding: 0 8%;
    background: #080008;
    position: relative;
    padding-bottom: -15px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h2{
    color: white;
}

.nav-links{
    padding: 28px 0;
    position:relative;
}

.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    position: relative;
}

.nav-links li a::after{
    content: '';
    background: #ff3d00;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after{
    width: 100%;
}

input[type="text"]{
    border-radius: 5px;
    margin-right: 5px;
}

.btn{
    background: #ff3d00;
    color: #fff;
    padding: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 35px;
}

form{
    display: flex;
}

.dropdown-menu{
    display:none;
}

ul li:hover .dropdown-menu {
    display: block;
    position:absolute;
    background-color: #080008;
    z-index: 999;
}

ul li:hover .dropdown-menu ul{
    display: block;
    position: absolute;
    background-color: #080008;
    left: -35px;
    top: -10px;
    margin: 10px;
}

ul li:hover .dropdown-menu ul li{
    width:150px;
    padding:10px;
}

.dropdown-menu ul li::after{
    width:150px;
    padding:10px;
}